@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>History of World</h2>
        <div id="mapdiv" style="width: 100%; background-color:#222222; height: 500px;"></div>
        <hr />
        <div>
            <input type="text" id="OgrenciID" />
            <br />
            <input type="submit" id="OgrenciGetir" value="Öğrenciyi Getir" />
        </div>
        <div>
            <p>Öğrenci Adı : <strong id="OgrenciAdi"></strong></p>
            <p>Öğrenci Soyadı : <strong id="OgrenciSoyAdi"></strong></p>
            <p>Öğrenci Numarası : <strong id="OgrenciNumarasi"></strong></p>
            <p>Öğrenci Şubesi : <strong id="OgrenciSubesi"></strong></p>
            <p>Öğrenci Sınıfı : <strong id="OgrenciSinifi"></strong></p>
        </div>
    </div>
</div>
