@model CountryDetails

<form asp-controller="CountryDetails" asp-action="Create" method="post">
    Ülke Kodu: <input type="text" name="CountryCode" value="" />
    Ülke İsmi: <input type="text" name="Name" value="" />
    Veri : <input type="text" id="Data" name="Data" value="" />
    <input type="submit" name="Save" value="Kaydet" />
</form>